<div class="col-md-7 col-md-offset-2">
  <h1>Editing team</h1>
<hr>

 <% if ((current_user.is_member_of?(@team)) and (current_user.role == "Leader" ))or (current_user.role == "Admin" )  %>
  <%= simple_form_for @team do |f| %>
    <div class="form-team">
      <%= f.input :title, input_html: { class: "form-control"} %>
      <br>
      <%= f.input :team_description, input_html: { class: "form-control"} %>
    </div>
  <br>
  <br>
  <h2 class="text-center"> Team members </h2>
	<table class="table">
	   <thead>
	     <tr>
	       <th>Member ID</th>
	       <th>Member Name</th>
         <th>Role in the team</th>
	       <th colspan="2"></th>
	     </tr>
	   </thead>
	   <tbody>
		 <% @team = Team.find(params[:id])
        @team_users = @team.team_users %>	   	
	     <% @team_users.each do |team_user| %>
	        <% @user= User.find(team_user.user_id) %>
	       <tr>  
	          <td><%= team_user.user_id %></td>
	          <td><%= @user.name %></td>
            <%  if (@user.role == "Leader" )
                     @team.leader_name = @user.name 
                 end %>
            <td><%= @user.role %></td>
            <%  if (current_user.role == "Leader" )
                     @user.from = "Leader" 
                 elsif current_user.role == "Admin" 
                     @user.from = "Admin" 
                 end %> 
            <td> <%= link_to("Change Role", edit_usersA_path(@user), class: "btn btn-info") %> </td>
	           <td> <%= link_to("Kick out From Team", "http://localhost:3000/teams/#{@team.id}/remove/#{@user.id}", method: :get, class: "btn btn-danger", data: { confirm: "Are you sure?"}) %> </td>
	       </tr>
	     <% end %>
	   </tbody>
	 </table>

   <br>
   <br>
  <% if (current_user.role == "Admin" )  %>
	  <h2 class="text-center"> Add more users to this team </h2>
        <table class="table">
        <thead>
          <tr>
            <th> Name </th>
            <th> In any team now? </th>
            <th> Current Team </th>
            <th colspan="2"></th>
          </tr>
        </thead>
        
        <tbody>
          <% User.all.each do |user| %>
            <tr>
              <td> <%= user.name %> </td> 
              <td> <%= user.inteam %> </td>
               <% if (user.inteam == true) %> 
                 <% @teamaa= user.participated_teams %>
                  <td> <%= @teamaa.first.id %> </td>
                  <td> <%= link_to("Move out From Current Team", "http://localhost:3000/teams/#{@teamaa.first.id}/remove/#{user.id}", method: :get, class: "btn btn-danger", data: { confirm: "Are you sure?"}) %> </td>
               <% else %> 
                  <td> none </td>
                  <td> <%= link_to("Add to This Team", "http://localhost:3000/teams/#{@team.id}/add/#{user.id}", method: :get, class: "btn btn-info") %> </td>
                <% end %>
          <% end %>
        </tbody>
        </table>
    <% end %>

    <br>
    <%= f.submit "Submit", class: "btn btn-primary", data: { disable_with: "Submitting..." } %>
  <% end %>
 <% end %>   
</div>