<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @location_q.question %>
</p>

<p>
  <strong>Prompt1:</strong>
  <%= @location_q.prompt1 %>
</p>

<p>
  <strong>Prompt2:</strong>
  <%= @location_q.prompt2 %>
</p>

<p>
  <strong>Prompt3:</strong>
  <%= @location_q.prompt3 %>
</p>

<p>
  <strong>Prompt4:</strong>
  <%= @location_q.prompt4 %>
</p>

<p>
  <strong>Score1p1:</strong>
  <%= @location_q.score1P1 %>
</p>

<p>
  <strong>Score2p1:</strong>
  <%= @location_q.score2P1 %>
</p>

<p>
  <strong>Score3p1:</strong>
  <%= @location_q.score3P1 %>
</p>

<p>
  <strong>Score4p1:</strong>
  <%= @location_q.score4P1 %>
</p>

<p>
  <strong>Score1p2:</strong>
  <%= @location_q.score1P2 %>
</p>

<p>
  <strong>Score2p2:</strong>
  <%= @location_q.score2P2 %>
</p>

<p>
  <strong>Score3p2:</strong>
  <%= @location_q.score3P2 %>
</p>

<p>
  <strong>Score4p2:</strong>
  <%= @location_q.score4P2 %>
</p>

<p>
  <strong>Score1p3:</strong>
  <%= @location_q.score1P3 %>
</p>

<p>
  <strong>Score2p3:</strong>
  <%= @location_q.score2P3 %>
</p>

<p>
  <strong>Score3p3:</strong>
  <%= @location_q.score3P3 %>
</p>

<p>
  <strong>Score4p3:</strong>
  <%= @location_q.score4P3 %>
</p>

<p>
  <strong>Score1p4:</strong>
  <%= @location_q.score1P4 %>
</p>

<p>
  <strong>Score2p4:</strong>
  <%= @location_q.score2P4 %>
</p>

<p>
  <strong>Score3p4:</strong>
  <%= @location_q.score3P4 %>
</p>

<p>
  <strong>Score4p4:</strong>
  <%= @location_q.score4P4 %>
</p>

<p>
  <strong>Score1p5:</strong>
  <%= @location_q.score1P5 %>
</p>

<p>
  <strong>Score2p5:</strong>
  <%= @location_q.score2P5 %>
</p>

<p>
  <strong>Score3p5:</strong>
  <%= @location_q.score3P5 %>
</p>

<p>
  <strong>Score4p5:</strong>
  <%= @location_q.score4P5 %>
</p>

<p>
  <strong>Score1p5:</strong>
  <%= @location_q.score1P5 %>
</p>

<p>
  <strong>Score2p5:</strong>
  <%= @location_q.score2P5 %>
</p>

<p>
  <strong>Score3p5:</strong>
  <%= @location_q.score3P5 %>
</p>

<p>
  <strong>Score4p5:</strong>
  <%= @location_q.score4P5 %>
</p>

<p>
  <strong>Score1p6:</strong>
  <%= @location_q.score1P6 %>
</p>

<p>
  <strong>Score2p6:</strong>
  <%= @location_q.score2P6 %>
</p>

<p>
  <strong>Score3p6:</strong>
  <%= @location_q.score3P6 %>
</p>

<p>
  <strong>Score4p6:</strong>
  <%= @location_q.score4P6 %>
</p>

<%= link_to 'Edit', edit_location_q_path(@location_q) %> |
<%= link_to 'Back', location_qs_path %>
