<h1>Listing cost_qs</h1>

<table>
  <thead>
    <tr>
      <th>Questions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cost_qs.each do |cost_q| %>
      <tr>
        <td><%= cost_q.question %></td>
        <td><%= link_to 'Show', cost_q %></td>
        <td><%= link_to 'Edit', edit_cost_q_path(cost_q) %></td>
        <td><%= link_to 'Destroy', cost_q, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cost q', new_cost_q_path %>