<h1>Listing about_the_client_qs</h1>

<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>Prompt1</th>
      <th>Prompt2</th>
      <th>Prompt3</th>
      <th>Prompt4</th>
      <th>Score1p1</th>
      <th>Score2p1</th>
      <th>Score3p1</th>
      <th>Score4p1</th>
      <th>Score1p2</th>
      <th>Score2p2</th>
      <th>Score3p2</th>
      <th>Score4p2</th>
      <th>Score1p3</th>
      <th>Score2p3</th>
      <th>Score3p3</th>
      <th>Score4p3</th>
      <th>Score1p4</th>
      <th>Score2p4</th>
      <th>Score3p4</th>
      <th>Score4p4</th>
      <th>Score1p5</th>
      <th>Score2p5</th>
      <th>Score3p5</th>
      <th>Score4p5</th>
      <th>Score1p5</th>
      <th>Score2p5</th>
      <th>Score3p5</th>
      <th>Score4p5</th>
      <th>Score1p6</th>
      <th>Score2p6</th>
      <th>Score3p6</th>
      <th>Score4p6</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @about_the_client_qs.each do |about_the_client_q| %>
      <tr>
        <td><%= about_the_client_q.question %></td>
        <td><%= about_the_client_q.prompt1 %></td>
        <td><%= about_the_client_q.prompt2 %></td>
        <td><%= about_the_client_q.prompt3 %></td>
        <td><%= about_the_client_q.prompt4 %></td>
        <td><%= about_the_client_q.score1P1 %></td>
        <td><%= about_the_client_q.score2P1 %></td>
        <td><%= about_the_client_q.score3P1 %></td>
        <td><%= about_the_client_q.score4P1 %></td>
        <td><%= about_the_client_q.score1P2 %></td>
        <td><%= about_the_client_q.score2P2 %></td>
        <td><%= about_the_client_q.score3P2 %></td>
        <td><%= about_the_client_q.score4P2 %></td>
        <td><%= about_the_client_q.score1P3 %></td>
        <td><%= about_the_client_q.score2P3 %></td>
        <td><%= about_the_client_q.score3P3 %></td>
        <td><%= about_the_client_q.score4P3 %></td>
        <td><%= about_the_client_q.score1P4 %></td>
        <td><%= about_the_client_q.score2P4 %></td>
        <td><%= about_the_client_q.score3P4 %></td>
        <td><%= about_the_client_q.score4P4 %></td>
        <td><%= about_the_client_q.score1P5 %></td>
        <td><%= about_the_client_q.score2P5 %></td>
        <td><%= about_the_client_q.score3P5 %></td>
        <td><%= about_the_client_q.score4P5 %></td>
        <td><%= about_the_client_q.score1P5 %></td>
        <td><%= about_the_client_q.score2P5 %></td>
        <td><%= about_the_client_q.score3P5 %></td>
        <td><%= about_the_client_q.score4P5 %></td>
        <td><%= about_the_client_q.score1P6 %></td>
        <td><%= about_the_client_q.score2P6 %></td>
        <td><%= about_the_client_q.score3P6 %></td>
        <td><%= about_the_client_q.score4P6 %></td>
        <td><%= link_to 'Show', about_the_client_q %></td>
        <td><%= link_to 'Edit', edit_about_the_client_q_path(about_the_client_q) %></td>
        <td><%= link_to 'Destroy', about_the_client_q, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New About the client q', new_about_the_client_q_path %>
