<%= simple_form_for(@scheduling) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :day1 %>
    <%= f.input :month1 %>
    <%= f.input :year1 %>
    <%= f.input :type1 %>
    <%= f.input :description1 %>
    <%= f.input :priority1 %>
    <%= f.input :day2 %>
    <%= f.input :month2 %>
    <%= f.input :year2 %>
    <%= f.input :type2 %>
    <%= f.input :description2 %>
    <%= f.input :priority2 %>
    <%= f.input :day3 %>
    <%= f.input :month3 %>
    <%= f.input :year3 %>
    <%= f.input :type3 %>
    <%= f.input :description3 %>
    <%= f.input :priority3 %>
    <%= f.input :day4 %>
    <%= f.input :month4 %>
    <%= f.input :year4 %>
    <%= f.input :type4 %>
    <%= f.input :description4 %>
    <%= f.input :priority4 %>
    <%= f.input :day5 %>
    <%= f.input :month5 %>
    <%= f.input :year5 %>
    <%= f.input :type5 %>
    <%= f.input :description5 %>
    <%= f.input :priority5 %>
    <%= f.input :day6 %>
    <%= f.input :month6 %>
    <%= f.input :year6 %>
    <%= f.input :type6 %>
    <%= f.input :description6 %>
    <%= f.input :priority6 %>
    <%= f.input :day7 %>
    <%= f.input :month7 %>
    <%= f.input :year7 %>
    <%= f.input :type7 %>
    <%= f.input :description7 %>
    <%= f.input :priority7 %>
    <%= f.input :day8 %>
    <%= f.input :month8 %>
    <%= f.input :year8 %>
    <%= f.input :type8 %>
    <%= f.input :description8 %>
    <%= f.input :priority8 %>
    <%= f.input :day9 %>
    <%= f.input :month9 %>
    <%= f.input :year9 %>
    <%= f.input :type9 %>
    <%= f.input :description9 %>
    <%= f.input :priority9 %>
    <%= f.input :day10 %>
    <%= f.input :month10 %>
    <%= f.input :year10 %>
    <%= f.input :type10 %>
    <%= f.input :description10 %>
    <%= f.input :priority10 %>
    <%= f.input :day11 %>
    <%= f.input :month11 %>
    <%= f.input :year11 %>
    <%= f.input :type11 %>
    <%= f.input :description11 %>
    <%= f.input :priority11 %>
    <%= f.input :day12 %>
    <%= f.input :month12 %>
    <%= f.input :year12 %>
    <%= f.input :type12 %>
    <%= f.input :description12 %>
    <%= f.input :priority12 %>
    <%= f.input :day13 %>
    <%= f.input :month13 %>
    <%= f.input :year13 %>
    <%= f.input :type13 %>
    <%= f.input :description13 %>
    <%= f.input :priority13 %>
    <%= f.input :day14 %>
    <%= f.input :month14 %>
    <%= f.input :year14 %>
    <%= f.input :type14 %>
    <%= f.input :description14 %>
    <%= f.input :priority14 %>
    <%= f.input :day15 %>
    <%= f.input :month15 %>
    <%= f.input :year15 %>
    <%= f.input :type15 %>
    <%= f.input :description15 %>
    <%= f.input :priority15 %>
    <%= f.input :day16 %>
    <%= f.input :month16 %>
    <%= f.input :year16 %>
    <%= f.input :type16 %>
    <%= f.input :description16 %>
    <%= f.input :priority16 %>
    <%= f.input :day17 %>
    <%= f.input :month17 %>
    <%= f.input :year17 %>
    <%= f.input :type17 %>
    <%= f.input :description17 %>
    <%= f.input :priority17 %>
    <%= f.input :day18 %>
    <%= f.input :month18 %>
    <%= f.input :year18 %>
    <%= f.input :type18 %>
    <%= f.input :description18 %>
    <%= f.input :priority18 %>
    <%= f.input :day19 %>
    <%= f.input :month19 %>
    <%= f.input :year19 %>
    <%= f.input :type19 %>
    <%= f.input :description19 %>
    <%= f.input :priority19 %>
    <%= f.input :day20 %>
    <%= f.input :month20 %>
    <%= f.input :year20 %>
    <%= f.input :type20 %>
    <%= f.input :description20 %>
    <%= f.input :priority20 %>
    <%= f.input :day21 %>
    <%= f.input :month21 %>
    <%= f.input :year21 %>
    <%= f.input :type21 %>
    <%= f.input :description21 %>
    <%= f.input :priority21 %>
    <%= f.input :day22 %>
    <%= f.input :month22 %>
    <%= f.input :year22 %>
    <%= f.input :type22 %>
    <%= f.input :description22 %>
    <%= f.input :priority22 %>
    <%= f.input :day23 %>
    <%= f.input :month23 %>
    <%= f.input :year23 %>
    <%= f.input :type23 %>
    <%= f.input :description23 %>
    <%= f.input :priority23 %>
    <%= f.input :day24 %>
    <%= f.input :month24 %>
    <%= f.input :year24 %>
    <%= f.input :type24 %>
    <%= f.input :description24 %>
    <%= f.input :priority24 %>
    <%= f.input :day25 %>
    <%= f.input :month25 %>
    <%= f.input :year25 %>
    <%= f.input :type25 %>
    <%= f.input :description25 %>
    <%= f.input :priority25 %>
    <%= f.input :day26 %>
    <%= f.input :month26 %>
    <%= f.input :year26 %>
    <%= f.input :type26 %>
    <%= f.input :description26 %>
    <%= f.input :priority26 %>
    <%= f.input :day27 %>
    <%= f.input :month27 %>
    <%= f.input :year27 %>
    <%= f.input :type27 %>
    <%= f.input :description27 %>
    <%= f.input :priority27 %>
    <%= f.input :day28 %>
    <%= f.input :month28 %>
    <%= f.input :year28 %>
    <%= f.input :type28 %>
    <%= f.input :description28 %>
    <%= f.input :priority28 %>
    <%= f.input :day29 %>
    <%= f.input :month29 %>
    <%= f.input :year29 %>
    <%= f.input :type29 %>
    <%= f.input :description29 %>
    <%= f.input :priority29 %>
    <%= f.input :day30 %>
    <%= f.input :month30 %>
    <%= f.input :year30 %>
    <%= f.input :type30 %>
    <%= f.input :description30 %>
    <%= f.input :priority30 %>
    <%= f.input :day31 %>
    <%= f.input :month31 %>
    <%= f.input :year31 %>
    <%= f.input :type31 %>
    <%= f.input :description31 %>
    <%= f.input :priority31 %>
    <%= f.input :day32 %>
    <%= f.input :month32 %>
    <%= f.input :year32 %>
    <%= f.input :type32 %>
    <%= f.input :description32 %>
    <%= f.input :priority32 %>
    <%= f.input :day33 %>
    <%= f.input :month33 %>
    <%= f.input :year33 %>
    <%= f.input :type33 %>
    <%= f.input :description33 %>
    <%= f.input :priority33 %>
    <%= f.input :day34 %>
    <%= f.input :month34 %>
    <%= f.input :year34 %>
    <%= f.input :type34 %>
    <%= f.input :description34 %>
    <%= f.input :priority34 %>
    <%= f.input :day35 %>
    <%= f.input :month35 %>
    <%= f.input :year35 %>
    <%= f.input :type35 %>
    <%= f.input :description35 %>
    <%= f.input :priority35 %>
    <%= f.input :day36 %>
    <%= f.input :month36 %>
    <%= f.input :year36 %>
    <%= f.input :type36 %>
    <%= f.input :description36 %>
    <%= f.input :priority36 %>
    <%= f.input :day37 %>
    <%= f.input :month37 %>
    <%= f.input :year37 %>
    <%= f.input :type37 %>
    <%= f.input :description37 %>
    <%= f.input :priority37 %>
    <%= f.input :day38 %>
    <%= f.input :month38 %>
    <%= f.input :year38 %>
    <%= f.input :type38 %>
    <%= f.input :description38 %>
    <%= f.input :priority38 %>
    <%= f.input :day39 %>
    <%= f.input :month39 %>
    <%= f.input :year39 %>
    <%= f.input :type39 %>
    <%= f.input :description39 %>
    <%= f.input :priority39 %>
    <%= f.input :day40 %>
    <%= f.input :month40 %>
    <%= f.input :year40 %>
    <%= f.input :type40 %>
    <%= f.input :description40 %>
    <%= f.input :priority40 %>
    <%= f.input :day41 %>
    <%= f.input :month41 %>
    <%= f.input :year41 %>
    <%= f.input :type41 %>
    <%= f.input :description41 %>
    <%= f.input :priority41 %>
    <%= f.input :day42 %>
    <%= f.input :month42 %>
    <%= f.input :year42 %>
    <%= f.input :type42 %>
    <%= f.input :description42 %>
    <%= f.input :priority42 %>
    <%= f.input :day43 %>
    <%= f.input :month43 %>
    <%= f.input :year43 %>
    <%= f.input :type43 %>
    <%= f.input :description43 %>
    <%= f.input :priority43 %>
    <%= f.input :day44 %>
    <%= f.input :month44 %>
    <%= f.input :year44 %>
    <%= f.input :type44 %>
    <%= f.input :description44 %>
    <%= f.input :priority44 %>
    <%= f.input :day45 %>
    <%= f.input :month45 %>
    <%= f.input :year45 %>
    <%= f.input :type45 %>
    <%= f.input :description45 %>
    <%= f.input :priority45 %>
    <%= f.input :day46 %>
    <%= f.input :month46 %>
    <%= f.input :year46 %>
    <%= f.input :type46 %>
    <%= f.input :description46 %>
    <%= f.input :priority46 %>
    <%= f.input :day47 %>
    <%= f.input :month47 %>
    <%= f.input :year47 %>
    <%= f.input :type47 %>
    <%= f.input :description47 %>
    <%= f.input :priority47 %>
    <%= f.input :day48 %>
    <%= f.input :month48 %>
    <%= f.input :year48 %>
    <%= f.input :type48 %>
    <%= f.input :description48 %>
    <%= f.input :priority48 %>
    <%= f.input :day49 %>
    <%= f.input :month49 %>
    <%= f.input :year49 %>
    <%= f.input :type49 %>
    <%= f.input :description49 %>
    <%= f.input :priority49 %>
    <%= f.input :day50 %>
    <%= f.input :month50 %>
    <%= f.input :year50 %>
    <%= f.input :type50 %>
    <%= f.input :description50 %>
    <%= f.input :priority50 %>
    <%= f.input :day51 %>
    <%= f.input :month51 %>
    <%= f.input :year51 %>
    <%= f.input :type51 %>
    <%= f.input :description51 %>
    <%= f.input :priority51 %>
    <%= f.input :day52 %>
    <%= f.input :month52 %>
    <%= f.input :year52 %>
    <%= f.input :type52 %>
    <%= f.input :description52 %>
    <%= f.input :priority52 %>
    <%= f.input :day53 %>
    <%= f.input :month53 %>
    <%= f.input :year53 %>
    <%= f.input :type53 %>
    <%= f.input :description53 %>
    <%= f.input :priority53 %>
    <%= f.input :day54 %>
    <%= f.input :month54 %>
    <%= f.input :year54 %>
    <%= f.input :type54 %>
    <%= f.input :description54 %>
    <%= f.input :priority54 %>
    <%= f.input :day55 %>
    <%= f.input :month55 %>
    <%= f.input :year55 %>
    <%= f.input :type55 %>
    <%= f.input :description55 %>
    <%= f.input :priority55 %>
    <%= f.input :day56 %>
    <%= f.input :month56 %>
    <%= f.input :year56 %>
    <%= f.input :type56 %>
    <%= f.input :description56 %>
    <%= f.input :priority56 %>
    <%= f.input :day57 %>
    <%= f.input :month57 %>
    <%= f.input :year57 %>
    <%= f.input :type57 %>
    <%= f.input :description57 %>
    <%= f.input :priority57 %>
    <%= f.input :day58 %>
    <%= f.input :month58 %>
    <%= f.input :year58 %>
    <%= f.input :type58 %>
    <%= f.input :description58 %>
    <%= f.input :priority58 %>
    <%= f.input :day59 %>
    <%= f.input :month59 %>
    <%= f.input :year59 %>
    <%= f.input :type59 %>
    <%= f.input :description59 %>
    <%= f.input :priority59 %>
    <%= f.input :day60 %>
    <%= f.input :month60 %>
    <%= f.input :year60 %>
    <%= f.input :type60 %>
    <%= f.input :description60 %>
    <%= f.input :priority60 %>
    <%= f.input :day61 %>
    <%= f.input :month61 %>
    <%= f.input :year61 %>
    <%= f.input :type61 %>
    <%= f.input :description61 %>
    <%= f.input :priority61 %>
    <%= f.input :day62 %>
    <%= f.input :month62 %>
    <%= f.input :year62 %>
    <%= f.input :type62 %>
    <%= f.input :description62 %>
    <%= f.input :priority62 %>
    <%= f.input :day63 %>
    <%= f.input :month63 %>
    <%= f.input :year63 %>
    <%= f.input :type63 %>
    <%= f.input :description63 %>
    <%= f.input :priority63 %>
    <%= f.input :day64 %>
    <%= f.input :month64 %>
    <%= f.input :year64 %>
    <%= f.input :type64 %>
    <%= f.input :description64 %>
    <%= f.input :priority64 %>
    <%= f.input :day65 %>
    <%= f.input :month65 %>
    <%= f.input :year65 %>
    <%= f.input :type65 %>
    <%= f.input :description65 %>
    <%= f.input :priority65 %>
    <%= f.input :day66 %>
    <%= f.input :month66 %>
    <%= f.input :year66 %>
    <%= f.input :type66 %>
    <%= f.input :description66 %>
    <%= f.input :priority66 %>
    <%= f.input :day67 %>
    <%= f.input :month67 %>
    <%= f.input :year67 %>
    <%= f.input :type67 %>
    <%= f.input :description67 %>
    <%= f.input :priority67 %>
    <%= f.input :day68 %>
    <%= f.input :month68 %>
    <%= f.input :year68 %>
    <%= f.input :type68 %>
    <%= f.input :description68 %>
    <%= f.input :priority68 %>
    <%= f.input :day69 %>
    <%= f.input :month69 %>
    <%= f.input :year69 %>
    <%= f.input :type69 %>
    <%= f.input :description69 %>
    <%= f.input :priority69 %>
    <%= f.input :day70 %>
    <%= f.input :month70 %>
    <%= f.input :year70 %>
    <%= f.input :type70 %>
    <%= f.input :description70 %>
    <%= f.input :priority70 %>
    <%= f.input :day71 %>
    <%= f.input :month71 %>
    <%= f.input :year71 %>
    <%= f.input :type71 %>
    <%= f.input :description71 %>
    <%= f.input :priority71 %>
    <%= f.input :day72 %>
    <%= f.input :month72 %>
    <%= f.input :year72 %>
    <%= f.input :type72 %>
    <%= f.input :description72 %>
    <%= f.input :priority72 %>
    <%= f.input :day73 %>
    <%= f.input :month73 %>
    <%= f.input :year73 %>
    <%= f.input :type73 %>
    <%= f.input :description73 %>
    <%= f.input :priority73 %>
    <%= f.input :day74 %>
    <%= f.input :month74 %>
    <%= f.input :year74 %>
    <%= f.input :type74 %>
    <%= f.input :description74 %>
    <%= f.input :priority74 %>
    <%= f.input :day75 %>
    <%= f.input :month75 %>
    <%= f.input :year75 %>
    <%= f.input :type75 %>
    <%= f.input :description75 %>
    <%= f.input :priority75 %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
