<h1>Listing schedulings</h1>

<table>
  <thead>
    <tr>
      <th>Day1</th>
      <th>Month1</th>
      <th>Year1</th>
      <th>Type1</th>
      <th>Description1</th>
      <th>Priority1</th>
      <th>Day2</th>
      <th>Month2</th>
      <th>Year2</th>
      <th>Type2</th>
      <th>Description2</th>
      <th>Priority2</th>
      <th>Day3</th>
      <th>Month3</th>
      <th>Year3</th>
      <th>Type3</th>
      <th>Description3</th>
      <th>Priority3</th>
      <th>Day4</th>
      <th>Month4</th>
      <th>Year4</th>
      <th>Type4</th>
      <th>Description4</th>
      <th>Priority4</th>
      <th>Day5</th>
      <th>Month5</th>
      <th>Year5</th>
      <th>Type5</th>
      <th>Description5</th>
      <th>Priority5</th>
      <th>Day6</th>
      <th>Month6</th>
      <th>Year6</th>
      <th>Type6</th>
      <th>Description6</th>
      <th>Priority6</th>
      <th>Day7</th>
      <th>Month7</th>
      <th>Year7</th>
      <th>Type7</th>
      <th>Description7</th>
      <th>Priority7</th>
      <th>Day8</th>
      <th>Month8</th>
      <th>Year8</th>
      <th>Type8</th>
      <th>Description8</th>
      <th>Priority8</th>
      <th>Day9</th>
      <th>Month9</th>
      <th>Year9</th>
      <th>Type9</th>
      <th>Description9</th>
      <th>Priority9</th>
      <th>Day10</th>
      <th>Month10</th>
      <th>Year10</th>
      <th>Type10</th>
      <th>Description10</th>
      <th>Priority10</th>
      <th>Day11</th>
      <th>Month11</th>
      <th>Year11</th>
      <th>Type11</th>
      <th>Description11</th>
      <th>Priority11</th>
      <th>Day12</th>
      <th>Month12</th>
      <th>Year12</th>
      <th>Type12</th>
      <th>Description12</th>
      <th>Priority12</th>
      <th>Day13</th>
      <th>Month13</th>
      <th>Year13</th>
      <th>Type13</th>
      <th>Description13</th>
      <th>Priority13</th>
      <th>Day14</th>
      <th>Month14</th>
      <th>Year14</th>
      <th>Type14</th>
      <th>Description14</th>
      <th>Priority14</th>
      <th>Day15</th>
      <th>Month15</th>
      <th>Year15</th>
      <th>Type15</th>
      <th>Description15</th>
      <th>Priority15</th>
      <th>Day16</th>
      <th>Month16</th>
      <th>Year16</th>
      <th>Type16</th>
      <th>Description16</th>
      <th>Priority16</th>
      <th>Day17</th>
      <th>Month17</th>
      <th>Year17</th>
      <th>Type17</th>
      <th>Description17</th>
      <th>Priority17</th>
      <th>Day18</th>
      <th>Month18</th>
      <th>Year18</th>
      <th>Type18</th>
      <th>Description18</th>
      <th>Priority18</th>
      <th>Day19</th>
      <th>Month19</th>
      <th>Year19</th>
      <th>Type19</th>
      <th>Description19</th>
      <th>Priority19</th>
      <th>Day20</th>
      <th>Month20</th>
      <th>Year20</th>
      <th>Type20</th>
      <th>Description20</th>
      <th>Priority20</th>
      <th>Day21</th>
      <th>Month21</th>
      <th>Year21</th>
      <th>Type21</th>
      <th>Description21</th>
      <th>Priority21</th>
      <th>Day22</th>
      <th>Month22</th>
      <th>Year22</th>
      <th>Type22</th>
      <th>Description22</th>
      <th>Priority22</th>
      <th>Day23</th>
      <th>Month23</th>
      <th>Year23</th>
      <th>Type23</th>
      <th>Description23</th>
      <th>Priority23</th>
      <th>Day24</th>
      <th>Month24</th>
      <th>Year24</th>
      <th>Type24</th>
      <th>Description24</th>
      <th>Priority24</th>
      <th>Day25</th>
      <th>Month25</th>
      <th>Year25</th>
      <th>Type25</th>
      <th>Description25</th>
      <th>Priority25</th>
      <th>Day26</th>
      <th>Month26</th>
      <th>Year26</th>
      <th>Type26</th>
      <th>Description26</th>
      <th>Priority26</th>
      <th>Day27</th>
      <th>Month27</th>
      <th>Year27</th>
      <th>Type27</th>
      <th>Description27</th>
      <th>Priority27</th>
      <th>Day28</th>
      <th>Month28</th>
      <th>Year28</th>
      <th>Type28</th>
      <th>Description28</th>
      <th>Priority28</th>
      <th>Day29</th>
      <th>Month29</th>
      <th>Year29</th>
      <th>Type29</th>
      <th>Description29</th>
      <th>Priority29</th>
      <th>Day30</th>
      <th>Month30</th>
      <th>Year30</th>
      <th>Type30</th>
      <th>Description30</th>
      <th>Priority30</th>
      <th>Day31</th>
      <th>Month31</th>
      <th>Year31</th>
      <th>Type31</th>
      <th>Description31</th>
      <th>Priority31</th>
      <th>Day32</th>
      <th>Month32</th>
      <th>Year32</th>
      <th>Type32</th>
      <th>Description32</th>
      <th>Priority32</th>
      <th>Day33</th>
      <th>Month33</th>
      <th>Year33</th>
      <th>Type33</th>
      <th>Description33</th>
      <th>Priority33</th>
      <th>Day34</th>
      <th>Month34</th>
      <th>Year34</th>
      <th>Type34</th>
      <th>Description34</th>
      <th>Priority34</th>
      <th>Day35</th>
      <th>Month35</th>
      <th>Year35</th>
      <th>Type35</th>
      <th>Description35</th>
      <th>Priority35</th>
      <th>Day36</th>
      <th>Month36</th>
      <th>Year36</th>
      <th>Type36</th>
      <th>Description36</th>
      <th>Priority36</th>
      <th>Day37</th>
      <th>Month37</th>
      <th>Year37</th>
      <th>Type37</th>
      <th>Description37</th>
      <th>Priority37</th>
      <th>Day38</th>
      <th>Month38</th>
      <th>Year38</th>
      <th>Type38</th>
      <th>Description38</th>
      <th>Priority38</th>
      <th>Day39</th>
      <th>Month39</th>
      <th>Year39</th>
      <th>Type39</th>
      <th>Description39</th>
      <th>Priority39</th>
      <th>Day40</th>
      <th>Month40</th>
      <th>Year40</th>
      <th>Type40</th>
      <th>Description40</th>
      <th>Priority40</th>
      <th>Day41</th>
      <th>Month41</th>
      <th>Year41</th>
      <th>Type41</th>
      <th>Description41</th>
      <th>Priority41</th>
      <th>Day42</th>
      <th>Month42</th>
      <th>Year42</th>
      <th>Type42</th>
      <th>Description42</th>
      <th>Priority42</th>
      <th>Day43</th>
      <th>Month43</th>
      <th>Year43</th>
      <th>Type43</th>
      <th>Description43</th>
      <th>Priority43</th>
      <th>Day44</th>
      <th>Month44</th>
      <th>Year44</th>
      <th>Type44</th>
      <th>Description44</th>
      <th>Priority44</th>
      <th>Day45</th>
      <th>Month45</th>
      <th>Year45</th>
      <th>Type45</th>
      <th>Description45</th>
      <th>Priority45</th>
      <th>Day46</th>
      <th>Month46</th>
      <th>Year46</th>
      <th>Type46</th>
      <th>Description46</th>
      <th>Priority46</th>
      <th>Day47</th>
      <th>Month47</th>
      <th>Year47</th>
      <th>Type47</th>
      <th>Description47</th>
      <th>Priority47</th>
      <th>Day48</th>
      <th>Month48</th>
      <th>Year48</th>
      <th>Type48</th>
      <th>Description48</th>
      <th>Priority48</th>
      <th>Day49</th>
      <th>Month49</th>
      <th>Year49</th>
      <th>Type49</th>
      <th>Description49</th>
      <th>Priority49</th>
      <th>Day50</th>
      <th>Month50</th>
      <th>Year50</th>
      <th>Type50</th>
      <th>Description50</th>
      <th>Priority50</th>
      <th>Day51</th>
      <th>Month51</th>
      <th>Year51</th>
      <th>Type51</th>
      <th>Description51</th>
      <th>Priority51</th>
      <th>Day52</th>
      <th>Month52</th>
      <th>Year52</th>
      <th>Type52</th>
      <th>Description52</th>
      <th>Priority52</th>
      <th>Day53</th>
      <th>Month53</th>
      <th>Year53</th>
      <th>Type53</th>
      <th>Description53</th>
      <th>Priority53</th>
      <th>Day54</th>
      <th>Month54</th>
      <th>Year54</th>
      <th>Type54</th>
      <th>Description54</th>
      <th>Priority54</th>
      <th>Day55</th>
      <th>Month55</th>
      <th>Year55</th>
      <th>Type55</th>
      <th>Description55</th>
      <th>Priority55</th>
      <th>Day56</th>
      <th>Month56</th>
      <th>Year56</th>
      <th>Type56</th>
      <th>Description56</th>
      <th>Priority56</th>
      <th>Day57</th>
      <th>Month57</th>
      <th>Year57</th>
      <th>Type57</th>
      <th>Description57</th>
      <th>Priority57</th>
      <th>Day58</th>
      <th>Month58</th>
      <th>Year58</th>
      <th>Type58</th>
      <th>Description58</th>
      <th>Priority58</th>
      <th>Day59</th>
      <th>Month59</th>
      <th>Year59</th>
      <th>Type59</th>
      <th>Description59</th>
      <th>Priority59</th>
      <th>Day60</th>
      <th>Month60</th>
      <th>Year60</th>
      <th>Type60</th>
      <th>Description60</th>
      <th>Priority60</th>
      <th>Day61</th>
      <th>Month61</th>
      <th>Year61</th>
      <th>Type61</th>
      <th>Description61</th>
      <th>Priority61</th>
      <th>Day62</th>
      <th>Month62</th>
      <th>Year62</th>
      <th>Type62</th>
      <th>Description62</th>
      <th>Priority62</th>
      <th>Day63</th>
      <th>Month63</th>
      <th>Year63</th>
      <th>Type63</th>
      <th>Description63</th>
      <th>Priority63</th>
      <th>Day64</th>
      <th>Month64</th>
      <th>Year64</th>
      <th>Type64</th>
      <th>Description64</th>
      <th>Priority64</th>
      <th>Day65</th>
      <th>Month65</th>
      <th>Year65</th>
      <th>Type65</th>
      <th>Description65</th>
      <th>Priority65</th>
      <th>Day66</th>
      <th>Month66</th>
      <th>Year66</th>
      <th>Type66</th>
      <th>Description66</th>
      <th>Priority66</th>
      <th>Day67</th>
      <th>Month67</th>
      <th>Year67</th>
      <th>Type67</th>
      <th>Description67</th>
      <th>Priority67</th>
      <th>Day68</th>
      <th>Month68</th>
      <th>Year68</th>
      <th>Type68</th>
      <th>Description68</th>
      <th>Priority68</th>
      <th>Day69</th>
      <th>Month69</th>
      <th>Year69</th>
      <th>Type69</th>
      <th>Description69</th>
      <th>Priority69</th>
      <th>Day70</th>
      <th>Month70</th>
      <th>Year70</th>
      <th>Type70</th>
      <th>Description70</th>
      <th>Priority70</th>
      <th>Day71</th>
      <th>Month71</th>
      <th>Year71</th>
      <th>Type71</th>
      <th>Description71</th>
      <th>Priority71</th>
      <th>Day72</th>
      <th>Month72</th>
      <th>Year72</th>
      <th>Type72</th>
      <th>Description72</th>
      <th>Priority72</th>
      <th>Day73</th>
      <th>Month73</th>
      <th>Year73</th>
      <th>Type73</th>
      <th>Description73</th>
      <th>Priority73</th>
      <th>Day74</th>
      <th>Month74</th>
      <th>Year74</th>
      <th>Type74</th>
      <th>Description74</th>
      <th>Priority74</th>
      <th>Day75</th>
      <th>Month75</th>
      <th>Year75</th>
      <th>Type75</th>
      <th>Description75</th>
      <th>Priority75</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @schedulings.each do |scheduling| %>
      <tr>
        <td><%= scheduling.day1 %></td>
        <td><%= scheduling.month1 %></td>
        <td><%= scheduling.year1 %></td>
        <td><%= scheduling.type1 %></td>
        <td><%= scheduling.description1 %></td>
        <td><%= scheduling.priority1 %></td>
        <td><%= scheduling.day2 %></td>
        <td><%= scheduling.month2 %></td>
        <td><%= scheduling.year2 %></td>
        <td><%= scheduling.type2 %></td>
        <td><%= scheduling.description2 %></td>
        <td><%= scheduling.priority2 %></td>
        <td><%= scheduling.day3 %></td>
        <td><%= scheduling.month3 %></td>
        <td><%= scheduling.year3 %></td>
        <td><%= scheduling.type3 %></td>
        <td><%= scheduling.description3 %></td>
        <td><%= scheduling.priority3 %></td>
        <td><%= scheduling.day4 %></td>
        <td><%= scheduling.month4 %></td>
        <td><%= scheduling.year4 %></td>
        <td><%= scheduling.type4 %></td>
        <td><%= scheduling.description4 %></td>
        <td><%= scheduling.priority4 %></td>
        <td><%= scheduling.day5 %></td>
        <td><%= scheduling.month5 %></td>
        <td><%= scheduling.year5 %></td>
        <td><%= scheduling.type5 %></td>
        <td><%= scheduling.description5 %></td>
        <td><%= scheduling.priority5 %></td>
        <td><%= scheduling.day6 %></td>
        <td><%= scheduling.month6 %></td>
        <td><%= scheduling.year6 %></td>
        <td><%= scheduling.type6 %></td>
        <td><%= scheduling.description6 %></td>
        <td><%= scheduling.priority6 %></td>
        <td><%= scheduling.day7 %></td>
        <td><%= scheduling.month7 %></td>
        <td><%= scheduling.year7 %></td>
        <td><%= scheduling.type7 %></td>
        <td><%= scheduling.description7 %></td>
        <td><%= scheduling.priority7 %></td>
        <td><%= scheduling.day8 %></td>
        <td><%= scheduling.month8 %></td>
        <td><%= scheduling.year8 %></td>
        <td><%= scheduling.type8 %></td>
        <td><%= scheduling.description8 %></td>
        <td><%= scheduling.priority8 %></td>
        <td><%= scheduling.day9 %></td>
        <td><%= scheduling.month9 %></td>
        <td><%= scheduling.year9 %></td>
        <td><%= scheduling.type9 %></td>
        <td><%= scheduling.description9 %></td>
        <td><%= scheduling.priority9 %></td>
        <td><%= scheduling.day10 %></td>
        <td><%= scheduling.month10 %></td>
        <td><%= scheduling.year10 %></td>
        <td><%= scheduling.type10 %></td>
        <td><%= scheduling.description10 %></td>
        <td><%= scheduling.priority10 %></td>
        <td><%= scheduling.day11 %></td>
        <td><%= scheduling.month11 %></td>
        <td><%= scheduling.year11 %></td>
        <td><%= scheduling.type11 %></td>
        <td><%= scheduling.description11 %></td>
        <td><%= scheduling.priority11 %></td>
        <td><%= scheduling.day12 %></td>
        <td><%= scheduling.month12 %></td>
        <td><%= scheduling.year12 %></td>
        <td><%= scheduling.type12 %></td>
        <td><%= scheduling.description12 %></td>
        <td><%= scheduling.priority12 %></td>
        <td><%= scheduling.day13 %></td>
        <td><%= scheduling.month13 %></td>
        <td><%= scheduling.year13 %></td>
        <td><%= scheduling.type13 %></td>
        <td><%= scheduling.description13 %></td>
        <td><%= scheduling.priority13 %></td>
        <td><%= scheduling.day14 %></td>
        <td><%= scheduling.month14 %></td>
        <td><%= scheduling.year14 %></td>
        <td><%= scheduling.type14 %></td>
        <td><%= scheduling.description14 %></td>
        <td><%= scheduling.priority14 %></td>
        <td><%= scheduling.day15 %></td>
        <td><%= scheduling.month15 %></td>
        <td><%= scheduling.year15 %></td>
        <td><%= scheduling.type15 %></td>
        <td><%= scheduling.description15 %></td>
        <td><%= scheduling.priority15 %></td>
        <td><%= scheduling.day16 %></td>
        <td><%= scheduling.month16 %></td>
        <td><%= scheduling.year16 %></td>
        <td><%= scheduling.type16 %></td>
        <td><%= scheduling.description16 %></td>
        <td><%= scheduling.priority16 %></td>
        <td><%= scheduling.day17 %></td>
        <td><%= scheduling.month17 %></td>
        <td><%= scheduling.year17 %></td>
        <td><%= scheduling.type17 %></td>
        <td><%= scheduling.description17 %></td>
        <td><%= scheduling.priority17 %></td>
        <td><%= scheduling.day18 %></td>
        <td><%= scheduling.month18 %></td>
        <td><%= scheduling.year18 %></td>
        <td><%= scheduling.type18 %></td>
        <td><%= scheduling.description18 %></td>
        <td><%= scheduling.priority18 %></td>
        <td><%= scheduling.day19 %></td>
        <td><%= scheduling.month19 %></td>
        <td><%= scheduling.year19 %></td>
        <td><%= scheduling.type19 %></td>
        <td><%= scheduling.description19 %></td>
        <td><%= scheduling.priority19 %></td>
        <td><%= scheduling.day20 %></td>
        <td><%= scheduling.month20 %></td>
        <td><%= scheduling.year20 %></td>
        <td><%= scheduling.type20 %></td>
        <td><%= scheduling.description20 %></td>
        <td><%= scheduling.priority20 %></td>
        <td><%= scheduling.day21 %></td>
        <td><%= scheduling.month21 %></td>
        <td><%= scheduling.year21 %></td>
        <td><%= scheduling.type21 %></td>
        <td><%= scheduling.description21 %></td>
        <td><%= scheduling.priority21 %></td>
        <td><%= scheduling.day22 %></td>
        <td><%= scheduling.month22 %></td>
        <td><%= scheduling.year22 %></td>
        <td><%= scheduling.type22 %></td>
        <td><%= scheduling.description22 %></td>
        <td><%= scheduling.priority22 %></td>
        <td><%= scheduling.day23 %></td>
        <td><%= scheduling.month23 %></td>
        <td><%= scheduling.year23 %></td>
        <td><%= scheduling.type23 %></td>
        <td><%= scheduling.description23 %></td>
        <td><%= scheduling.priority23 %></td>
        <td><%= scheduling.day24 %></td>
        <td><%= scheduling.month24 %></td>
        <td><%= scheduling.year24 %></td>
        <td><%= scheduling.type24 %></td>
        <td><%= scheduling.description24 %></td>
        <td><%= scheduling.priority24 %></td>
        <td><%= scheduling.day25 %></td>
        <td><%= scheduling.month25 %></td>
        <td><%= scheduling.year25 %></td>
        <td><%= scheduling.type25 %></td>
        <td><%= scheduling.description25 %></td>
        <td><%= scheduling.priority25 %></td>
        <td><%= scheduling.day26 %></td>
        <td><%= scheduling.month26 %></td>
        <td><%= scheduling.year26 %></td>
        <td><%= scheduling.type26 %></td>
        <td><%= scheduling.description26 %></td>
        <td><%= scheduling.priority26 %></td>
        <td><%= scheduling.day27 %></td>
        <td><%= scheduling.month27 %></td>
        <td><%= scheduling.year27 %></td>
        <td><%= scheduling.type27 %></td>
        <td><%= scheduling.description27 %></td>
        <td><%= scheduling.priority27 %></td>
        <td><%= scheduling.day28 %></td>
        <td><%= scheduling.month28 %></td>
        <td><%= scheduling.year28 %></td>
        <td><%= scheduling.type28 %></td>
        <td><%= scheduling.description28 %></td>
        <td><%= scheduling.priority28 %></td>
        <td><%= scheduling.day29 %></td>
        <td><%= scheduling.month29 %></td>
        <td><%= scheduling.year29 %></td>
        <td><%= scheduling.type29 %></td>
        <td><%= scheduling.description29 %></td>
        <td><%= scheduling.priority29 %></td>
        <td><%= scheduling.day30 %></td>
        <td><%= scheduling.month30 %></td>
        <td><%= scheduling.year30 %></td>
        <td><%= scheduling.type30 %></td>
        <td><%= scheduling.description30 %></td>
        <td><%= scheduling.priority30 %></td>
        <td><%= scheduling.day31 %></td>
        <td><%= scheduling.month31 %></td>
        <td><%= scheduling.year31 %></td>
        <td><%= scheduling.type31 %></td>
        <td><%= scheduling.description31 %></td>
        <td><%= scheduling.priority31 %></td>
        <td><%= scheduling.day32 %></td>
        <td><%= scheduling.month32 %></td>
        <td><%= scheduling.year32 %></td>
        <td><%= scheduling.type32 %></td>
        <td><%= scheduling.description32 %></td>
        <td><%= scheduling.priority32 %></td>
        <td><%= scheduling.day33 %></td>
        <td><%= scheduling.month33 %></td>
        <td><%= scheduling.year33 %></td>
        <td><%= scheduling.type33 %></td>
        <td><%= scheduling.description33 %></td>
        <td><%= scheduling.priority33 %></td>
        <td><%= scheduling.day34 %></td>
        <td><%= scheduling.month34 %></td>
        <td><%= scheduling.year34 %></td>
        <td><%= scheduling.type34 %></td>
        <td><%= scheduling.description34 %></td>
        <td><%= scheduling.priority34 %></td>
        <td><%= scheduling.day35 %></td>
        <td><%= scheduling.month35 %></td>
        <td><%= scheduling.year35 %></td>
        <td><%= scheduling.type35 %></td>
        <td><%= scheduling.description35 %></td>
        <td><%= scheduling.priority35 %></td>
        <td><%= scheduling.day36 %></td>
        <td><%= scheduling.month36 %></td>
        <td><%= scheduling.year36 %></td>
        <td><%= scheduling.type36 %></td>
        <td><%= scheduling.description36 %></td>
        <td><%= scheduling.priority36 %></td>
        <td><%= scheduling.day37 %></td>
        <td><%= scheduling.month37 %></td>
        <td><%= scheduling.year37 %></td>
        <td><%= scheduling.type37 %></td>
        <td><%= scheduling.description37 %></td>
        <td><%= scheduling.priority37 %></td>
        <td><%= scheduling.day38 %></td>
        <td><%= scheduling.month38 %></td>
        <td><%= scheduling.year38 %></td>
        <td><%= scheduling.type38 %></td>
        <td><%= scheduling.description38 %></td>
        <td><%= scheduling.priority38 %></td>
        <td><%= scheduling.day39 %></td>
        <td><%= scheduling.month39 %></td>
        <td><%= scheduling.year39 %></td>
        <td><%= scheduling.type39 %></td>
        <td><%= scheduling.description39 %></td>
        <td><%= scheduling.priority39 %></td>
        <td><%= scheduling.day40 %></td>
        <td><%= scheduling.month40 %></td>
        <td><%= scheduling.year40 %></td>
        <td><%= scheduling.type40 %></td>
        <td><%= scheduling.description40 %></td>
        <td><%= scheduling.priority40 %></td>
        <td><%= scheduling.day41 %></td>
        <td><%= scheduling.month41 %></td>
        <td><%= scheduling.year41 %></td>
        <td><%= scheduling.type41 %></td>
        <td><%= scheduling.description41 %></td>
        <td><%= scheduling.priority41 %></td>
        <td><%= scheduling.day42 %></td>
        <td><%= scheduling.month42 %></td>
        <td><%= scheduling.year42 %></td>
        <td><%= scheduling.type42 %></td>
        <td><%= scheduling.description42 %></td>
        <td><%= scheduling.priority42 %></td>
        <td><%= scheduling.day43 %></td>
        <td><%= scheduling.month43 %></td>
        <td><%= scheduling.year43 %></td>
        <td><%= scheduling.type43 %></td>
        <td><%= scheduling.description43 %></td>
        <td><%= scheduling.priority43 %></td>
        <td><%= scheduling.day44 %></td>
        <td><%= scheduling.month44 %></td>
        <td><%= scheduling.year44 %></td>
        <td><%= scheduling.type44 %></td>
        <td><%= scheduling.description44 %></td>
        <td><%= scheduling.priority44 %></td>
        <td><%= scheduling.day45 %></td>
        <td><%= scheduling.month45 %></td>
        <td><%= scheduling.year45 %></td>
        <td><%= scheduling.type45 %></td>
        <td><%= scheduling.description45 %></td>
        <td><%= scheduling.priority45 %></td>
        <td><%= scheduling.day46 %></td>
        <td><%= scheduling.month46 %></td>
        <td><%= scheduling.year46 %></td>
        <td><%= scheduling.type46 %></td>
        <td><%= scheduling.description46 %></td>
        <td><%= scheduling.priority46 %></td>
        <td><%= scheduling.day47 %></td>
        <td><%= scheduling.month47 %></td>
        <td><%= scheduling.year47 %></td>
        <td><%= scheduling.type47 %></td>
        <td><%= scheduling.description47 %></td>
        <td><%= scheduling.priority47 %></td>
        <td><%= scheduling.day48 %></td>
        <td><%= scheduling.month48 %></td>
        <td><%= scheduling.year48 %></td>
        <td><%= scheduling.type48 %></td>
        <td><%= scheduling.description48 %></td>
        <td><%= scheduling.priority48 %></td>
        <td><%= scheduling.day49 %></td>
        <td><%= scheduling.month49 %></td>
        <td><%= scheduling.year49 %></td>
        <td><%= scheduling.type49 %></td>
        <td><%= scheduling.description49 %></td>
        <td><%= scheduling.priority49 %></td>
        <td><%= scheduling.day50 %></td>
        <td><%= scheduling.month50 %></td>
        <td><%= scheduling.year50 %></td>
        <td><%= scheduling.type50 %></td>
        <td><%= scheduling.description50 %></td>
        <td><%= scheduling.priority50 %></td>
        <td><%= scheduling.day51 %></td>
        <td><%= scheduling.month51 %></td>
        <td><%= scheduling.year51 %></td>
        <td><%= scheduling.type51 %></td>
        <td><%= scheduling.description51 %></td>
        <td><%= scheduling.priority51 %></td>
        <td><%= scheduling.day52 %></td>
        <td><%= scheduling.month52 %></td>
        <td><%= scheduling.year52 %></td>
        <td><%= scheduling.type52 %></td>
        <td><%= scheduling.description52 %></td>
        <td><%= scheduling.priority52 %></td>
        <td><%= scheduling.day53 %></td>
        <td><%= scheduling.month53 %></td>
        <td><%= scheduling.year53 %></td>
        <td><%= scheduling.type53 %></td>
        <td><%= scheduling.description53 %></td>
        <td><%= scheduling.priority53 %></td>
        <td><%= scheduling.day54 %></td>
        <td><%= scheduling.month54 %></td>
        <td><%= scheduling.year54 %></td>
        <td><%= scheduling.type54 %></td>
        <td><%= scheduling.description54 %></td>
        <td><%= scheduling.priority54 %></td>
        <td><%= scheduling.day55 %></td>
        <td><%= scheduling.month55 %></td>
        <td><%= scheduling.year55 %></td>
        <td><%= scheduling.type55 %></td>
        <td><%= scheduling.description55 %></td>
        <td><%= scheduling.priority55 %></td>
        <td><%= scheduling.day56 %></td>
        <td><%= scheduling.month56 %></td>
        <td><%= scheduling.year56 %></td>
        <td><%= scheduling.type56 %></td>
        <td><%= scheduling.description56 %></td>
        <td><%= scheduling.priority56 %></td>
        <td><%= scheduling.day57 %></td>
        <td><%= scheduling.month57 %></td>
        <td><%= scheduling.year57 %></td>
        <td><%= scheduling.type57 %></td>
        <td><%= scheduling.description57 %></td>
        <td><%= scheduling.priority57 %></td>
        <td><%= scheduling.day58 %></td>
        <td><%= scheduling.month58 %></td>
        <td><%= scheduling.year58 %></td>
        <td><%= scheduling.type58 %></td>
        <td><%= scheduling.description58 %></td>
        <td><%= scheduling.priority58 %></td>
        <td><%= scheduling.day59 %></td>
        <td><%= scheduling.month59 %></td>
        <td><%= scheduling.year59 %></td>
        <td><%= scheduling.type59 %></td>
        <td><%= scheduling.description59 %></td>
        <td><%= scheduling.priority59 %></td>
        <td><%= scheduling.day60 %></td>
        <td><%= scheduling.month60 %></td>
        <td><%= scheduling.year60 %></td>
        <td><%= scheduling.type60 %></td>
        <td><%= scheduling.description60 %></td>
        <td><%= scheduling.priority60 %></td>
        <td><%= scheduling.day61 %></td>
        <td><%= scheduling.month61 %></td>
        <td><%= scheduling.year61 %></td>
        <td><%= scheduling.type61 %></td>
        <td><%= scheduling.description61 %></td>
        <td><%= scheduling.priority61 %></td>
        <td><%= scheduling.day62 %></td>
        <td><%= scheduling.month62 %></td>
        <td><%= scheduling.year62 %></td>
        <td><%= scheduling.type62 %></td>
        <td><%= scheduling.description62 %></td>
        <td><%= scheduling.priority62 %></td>
        <td><%= scheduling.day63 %></td>
        <td><%= scheduling.month63 %></td>
        <td><%= scheduling.year63 %></td>
        <td><%= scheduling.type63 %></td>
        <td><%= scheduling.description63 %></td>
        <td><%= scheduling.priority63 %></td>
        <td><%= scheduling.day64 %></td>
        <td><%= scheduling.month64 %></td>
        <td><%= scheduling.year64 %></td>
        <td><%= scheduling.type64 %></td>
        <td><%= scheduling.description64 %></td>
        <td><%= scheduling.priority64 %></td>
        <td><%= scheduling.day65 %></td>
        <td><%= scheduling.month65 %></td>
        <td><%= scheduling.year65 %></td>
        <td><%= scheduling.type65 %></td>
        <td><%= scheduling.description65 %></td>
        <td><%= scheduling.priority65 %></td>
        <td><%= scheduling.day66 %></td>
        <td><%= scheduling.month66 %></td>
        <td><%= scheduling.year66 %></td>
        <td><%= scheduling.type66 %></td>
        <td><%= scheduling.description66 %></td>
        <td><%= scheduling.priority66 %></td>
        <td><%= scheduling.day67 %></td>
        <td><%= scheduling.month67 %></td>
        <td><%= scheduling.year67 %></td>
        <td><%= scheduling.type67 %></td>
        <td><%= scheduling.description67 %></td>
        <td><%= scheduling.priority67 %></td>
        <td><%= scheduling.day68 %></td>
        <td><%= scheduling.month68 %></td>
        <td><%= scheduling.year68 %></td>
        <td><%= scheduling.type68 %></td>
        <td><%= scheduling.description68 %></td>
        <td><%= scheduling.priority68 %></td>
        <td><%= scheduling.day69 %></td>
        <td><%= scheduling.month69 %></td>
        <td><%= scheduling.year69 %></td>
        <td><%= scheduling.type69 %></td>
        <td><%= scheduling.description69 %></td>
        <td><%= scheduling.priority69 %></td>
        <td><%= scheduling.day70 %></td>
        <td><%= scheduling.month70 %></td>
        <td><%= scheduling.year70 %></td>
        <td><%= scheduling.type70 %></td>
        <td><%= scheduling.description70 %></td>
        <td><%= scheduling.priority70 %></td>
        <td><%= scheduling.day71 %></td>
        <td><%= scheduling.month71 %></td>
        <td><%= scheduling.year71 %></td>
        <td><%= scheduling.type71 %></td>
        <td><%= scheduling.description71 %></td>
        <td><%= scheduling.priority71 %></td>
        <td><%= scheduling.day72 %></td>
        <td><%= scheduling.month72 %></td>
        <td><%= scheduling.year72 %></td>
        <td><%= scheduling.type72 %></td>
        <td><%= scheduling.description72 %></td>
        <td><%= scheduling.priority72 %></td>
        <td><%= scheduling.day73 %></td>
        <td><%= scheduling.month73 %></td>
        <td><%= scheduling.year73 %></td>
        <td><%= scheduling.type73 %></td>
        <td><%= scheduling.description73 %></td>
        <td><%= scheduling.priority73 %></td>
        <td><%= scheduling.day74 %></td>
        <td><%= scheduling.month74 %></td>
        <td><%= scheduling.year74 %></td>
        <td><%= scheduling.type74 %></td>
        <td><%= scheduling.description74 %></td>
        <td><%= scheduling.priority74 %></td>
        <td><%= scheduling.day75 %></td>
        <td><%= scheduling.month75 %></td>
        <td><%= scheduling.year75 %></td>
        <td><%= scheduling.type75 %></td>
        <td><%= scheduling.description75 %></td>
        <td><%= scheduling.priority75 %></td>
        <td><%= link_to 'Show', scheduling %></td>
        <td><%= link_to 'Edit', edit_scheduling_path(scheduling) %></td>
        <td><%= link_to 'Destroy', scheduling, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Scheduling', new_scheduling_path %>
